*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

.warning{
  background-color: red;
  height: 55px;
  width: 250px;
  position: absolute;
  right: 0;
  top: 10%;
  font-size:1.1rem;
  color: white;
  font-family: cursive;
  padding: 5px;
  border-radius: 5px;
}